---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div class="content-container">
  <h1>Recent Posts</h1>

  {% set postslist = collections.posts | head(-6) %}
  {% include "postslist.njk" %}
  <p class="postlist-footer-link"><a href="/blog/">View all posts →</a></p>
</div>
