---
layout: layouts/base.njk
title: Projects
permalink: /projects/
tags: []
eleventyNavigation:
  key: Projects
  order: 2
---

<div class="content-container">
  <h1>Projects</h1>
  {% include "projects-grid.njk" %}
</div>
