{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}
  }{% endcss %}
<ul class="postlist">
  {% for post in postslist | reverse %}
    <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
      <a href="{{ post.url }}" class="postlist-link">
        {% if post.data.title %}
          {{ post.data.title }}
        {% else %}
          <code>{{ post.url }}</code>
        {% endif %}
      </a>
      <div class="postlist-meta">
        <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
        {% if post.templateContent %}
          <span class="postlist-reading-time">{{ post.templateContent | readingTime }} MIN READ</span>
        {% endif %}
      </div>
      {% if post.data.description %}
        <p class="postlist-excerpt">{{ post.data.description }}</p>
      {% endif %}
      <div class="postlist-tags">
        {% for tag in post.data.tags | filterTagList %}
          {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
          <a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
        {% endfor %}
      </div>
    </li>
  {% endfor %}
</ul>