/* Body styles which should persist throughout the page */

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html {
  font-family: "lato", sans-serif;
  font-size: 10px;
  background: linear-gradient(230deg, #4e5a65, #4e5465, #4e6065) 0% 0% / 300%
    300%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  color: #eaedef;
}
h1 {
  font-size: 4rem;
  line-height: 4rem;
}
h2 {
  font-size: 2rem;
  line-height: 2rem;
}

.header-item {
  margin-left: 10px;
  margin-right: 10px;
}

p {
  font-size: 1.2rem;
  line-height: 1.2rem;
}
a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.link {
  text-decoration: underline;
}

.link:hover {
  color: #516aff;
}

.projectContainer {
  margin-top: 100px;
}

/* Mobile styles */
/* @media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
} */
